body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
}

form {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
}

legend {
  font-weight: bold;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.showPassword{
  display: flex;
}
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

button {
  display: block;
  width: 100%;
  background-color: #007BFF;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Estilo para campos con error */
.error {
  border-color: red;
  outline-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
